.field-wrapper {
    width: 100%;
}

.main-dialog-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.blog-checkbox {
    display: inline-block;
    width: auto;
    margin-right: 20px;
}
